body {
  background-color: grey;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  color: white;
  height:100%;
  text-align:center;
}

.wrappper{
  clear: both;
  width:100%;
  margin:0 auto;
}

#alphabet {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin:15px auto;
	padding:0;
	max-width:450px;
}

#alphabet li {
	float:left;
	width:35px;
	height:30px;
	margin-left: 10px;
	margin-bottom: 10px;
	padding:8px 2px 0 2px;
	list-style:none;
	background: white;
	color: grey;
	cursor:pointer;
	border-radius: 50%;
	border: solid 1px $white;
} 

#alphabet li:hover {
	background-color: grey;
	border: solid 1px white;
	color: white;
}